<div class="flex flex-row pt-12 p-20 bg-gradient-to-r from-green-50 to-blue-400 space-x-8 h-96"><!---container 4--->
    <div class="flex-1">
      <h2 class="font-semibold text-3xl">Contact with us</h2>
    </div>
    <div class="flex flex-row flex-1">
      <div class="flex-1">
        <h3 class="font-semibold text-lg">Main Office</h3>
        <p>MTU North Campus, Tralee, Co. Kerry</p>
      </div>
      <div class="flex-1">
        <h3 class="font-semibold text-lg">Social Media</h3>
        <ul>
          <li>Facebook</li>
          <li>LinkedIn</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
</div>
