<div class="container mx-auto mt-5 p-5 bg-gray-400 rounded">
    <!-- Upload section -->
    <div class="flex justify-between items-center mb-8">
        <div class="flex-1 mr-4">
            <input type="file"
                class="w-full bg-white p-2 border rounded-lg text-sm text-gray-700 border-dashed border-gray-300 cursor-pointer"
                id="file-upload" (change)="selectFile($event)" />

        </div>
        <button
            class="py-2 px-4 bg-black text-white rounded shadow-md transition ease-in duration-300 transform hover:scale-110 focus:outline-none "
            [disabled]="!file" (click)="onUpload()">
            Upload
        </button>
    </div>

    <!-- Download section -->
    <div class="space-y-4">
        <div class="flex items-center justify-between p-4 bg-white rounded shadow">
            <span class="font-medium">Document-1.pdf</span>
            <button
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center shadow-md transition ease-in duration-300 transform hover:scale-110 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                </svg>
                <span>Download</span>
            </button>
        </div>
        <div class="flex items-center justify-between p-4 bg-white rounded shadow">
            <span class="font-medium ">Document-2.pdf</span>
            <button
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center shadow-md transition ease-in duration-300 transform hover:scale-110 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                </svg>
                <span>Download</span>
            </button>
        </div>
        <div class="flex items-center justify-between p-4 bg-white rounded shadow">
            <span class="font-medium">Document-3.pdf</span>
            <button
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center shadow-md transition ease-in duration-300 transform hover:scale-110 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                </svg>
                <span>Download</span>
            </button>
        </div>
    </div>
</div>
