
<div class="form-modal border border-black bg-gray-900 max-w-full max-h-full z-1 top-0 left-0 bottom-0 right-0 fixed flex justify-center" *ngIf="severityVisible">
    <div class="form-modal-content border border-white w-1/2 h-1/6 my-56 text-white flex flex-col static">
        <div class="flex justify-end mb-1">
            <span class="material-symbols-outlined form-modal-close" (click)="closeQualitativeRepresentationModal()">
                close
            </span>
        </div>
        <div class="flex h-72 max-w-full overflow-x-auto">
          <table class="table-auto border-collapse border border-black text-center text-sm">
            <thead >
              <tr>
                <th class="border border-black px-4 py-2 text-black bg-yellow-50">Installed Packages</th>
                <th class="border border-black px-4 py-2 bg-red-900">Critical</th>
                <th class="border border-black px-4 py-2 bg-amber-800 ">High</th>
                <th class="border border-black px-4 py-2 bg-yellow-700 ">Medium</th>
                <th class="border border-black px-4 py-2 bg-yellow-500 ">Low</th>
                <th class="border border-black px-4 py-2 text-black bg-yellow-50 ">Unknown</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let score of productVulnerabilityState" class="bg-white center">
                <td class="border border-black px-4 py-2 text-black bg-yellow-50">{{ score.Installed }}</td>
                <td class="border border-black px-4 py-2 bg-red-900">{{ score.Critical }}</td>
                <td class="border border-black px-4 py-2 bg-amber-800">{{ score.High }}</td>
                <td class="border border-black px-4 py-2 bg-yellow-700">{{ score.Medium }}</td>
                <td class="border border-black px-4 py-2 bg-yellow-500">{{ score.Low }}</td>
                <td class="border border-black px-4 py-2 text-black bg-yellow-50">{{ score.Unknown }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
    </div>
    
</div>
